/* Inicio Globales */
:root{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{    
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;    
    line-height: 1.5;
    font-size: 1.6rem;
}
img{
    width: 100%;
}
/* Fin Globales */

/* Inicio Header */
.header{
    background-image: url(../img/serviciosimg/dark.webp);
    display: flex;
    flex-direction: column; 
    align-items: center;   
    position: relative;
    /* position: fixed; */
    min-height: 12rem;    
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;    
}
@media (min-width: 800px){
    .header{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

/* Inicio Nav */
.nav-head{
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
    margin: 1rem 2rem;
}

.logo-img{
    width: auto;
    height: 8rem;       
}

.nav-menu{
    margin-right: 10px;
    list-style: none;
    display: none;
    /* visibility: visible; */
    opacity: 0;
    transition: visibility .3s ease-in;
    /* a */
}
@media (min-width: 800px){
    .nav-menu{
        display: flex;
        margin-right: 10px;
        list-style: none;
        opacity: 1;
    }
}

.nav-menu-item{
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
    background-color: rgb(93, 141, 182);
    line-height: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    width: max-content;
    border-bottom: 1px solid black;
    border-radius: 2rem;
} 
@media (min-width: 800px){
    .nav-menu-item{
        margin: 10px 5px;
        line-height: 50px;
        border-bottom: none;
        background-color: transparent;
    }
}
.nav-menu-link{
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
} 

@media (min-width: 800px){        
    
    .nav-menu-link{
        padding: 8px 12px;
        color: rgb(238, 238, 238);
    } 
    .nav-menu-link:hover{
        background-color: rgb(62, 105, 185);
        border-radius: 3px;
        color: rgb(0, 0, 0);
        transition: 0.5s;
    }
}

/* Hamburguesa */
.hamburguer img{
    width: 4rem;
    height: 4rem;
    filter: invert(100%);
}
@media (min-width: 800px){
    .hamburguer{
        display: none;
    }
}
.spread{
    display: block;
    opacity: 1;
}

.bg-white{
    background-color: rgb(243, 243, 243);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}
@media (min-width: 800px){
    .spread{
        display: flex;
        flex-direction: row;
        opacity: 1;
    }
    .bg-white{
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
    }
}

/* Fin Nav */
/* Fin Header */
/* Inicio Sección Bienvenida */
.bienvenida{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.bienvenida img{
    width: 100%;
    height: 100%;
}
.bienvenida p{
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 30%;
    left: 5%;
    line-height: 1;
    text-shadow: 0 0 8px rgba(0, 0, 0,0.8);
}
@media (min-width: 800px){
    .bienvenida p{
        font-size: 8rem;
        top: 30%;
        left: 7%;        
    }
    .bienvenida span{
        font-size: 5rem;
    }
}
.bienvenida-span{
    font-size: 3rem;
    color: rgb(0, 0, 0);
}
.bienvenida-span:first-of-type{
    text-shadow: 0 0 20px rgba(240, 110, 4, 1);
}
.bienvenida-span:last-of-type{
    text-shadow: 0 0 20px rgba(39, 4, 240, 1);
}
/* Fin Bienvenida */


/* Inicio Main */
/* Inicio ¿Quienes somos? */
.contenedor{
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    margin: auto;
    padding: 3rem 0; 
}

.subtitulo{
    display: inline;        
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1.5rem;
    color: #e7e2f1;
    margin: 2rem;
    font-style: italic;
    font-size: 4rem;
    font-family:monospace;
    padding: 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0,0.8);
    -webkit-box-shadow: 11px 4px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 4px 13px -3px rgba(0,0,0,0.75);
box-shadow: 11px 4px 13px -3px rgba(0,0,0,0.75);
}
.cont-qs-main{
    width: 100%;
    margin: 2rem auto;
    /* border: 2px solid black; */
}
.info-qs{
    background-color: rgb(172, 37, 37);
    border: 1px solid #000;
    width: 100%;
    margin: 1rem auto;

}
@media (min-width: 800px){
    .info-qs-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .img-info{
        width: 50%;
        border-radius: 50%;
        padding: 1.5rem;
        grid-column: 1/2;
        grid-row: 2/-2;
    }    
}

.info-qs-main p{
    font-size: 4rem;
    text-align: center;
    line-height: 1.2;
    padding: 0.5rem;    
}
.img-info{
    width: 100%;
    border-radius: 50%;
    padding: 1.5rem;
    grid-column: 1/2;
    grid-row: 2/-2;
}

.img-caption{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
.info{
    color: #ffffff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    font-size: 2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0,0.8);
}
.escom{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #005aa7;
}

.cards-cont{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid black;     */
}

@media (min-width: 800px){
    .cards-cont{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }
    .card-qs{
        width: 30%;
    }
}
.card-qs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    /* margin: 2rem; */
    background: linear-gradient(to right, #fdc830, #f37335);
    border-radius: 2%;
    -webkit-box-shadow: 11px 9px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 9px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 11px 9px 5px -5px rgba(0,0,0,0.75);
}

.sub-qs{
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    text-align: center;
    /* font-weight: bold; */
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;

}
.info-card{
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family:'Quicksand', sans-serif;
    line-height: 1;
    font-weight: bold;
}
/* Fin ¿Quienes Somos?  */

/* Inicio Servicios */
.contenedor-servicio{
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    /* padding: 0; */
    margin: 1rem auto;
}
.img-servicio{
    width: 100%;
    height: 90%;
    border-radius: 3%;
}
@media (min-width: 800px){
    .contenedor-servicio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;        
    }
    .img-servicio{
        margin-top: 1rem;
        max-height: 90%;
    }  
}

.servicio{
    margin: 2rem 1rem ;
}
.servicio-texto{
    color: #1565C0;
    font-family:'Quicksand', sans-serif;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0,0.8);
}
.n-servicio{
    margin-bottom: 7px;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0,0.8);
    color: #a89cc5;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #6b64af 0%, #b1f4cf 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
    -webkit-box-shadow: -5px -1px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px -1px 24px 3px rgba(0,0,0,0.75);
    box-shadow: -5px -1px 24px 3px rgba(0,0,0,0.75);
}

/* Inicio Carrusel */
.carousel{
    border-radius: 10px;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carousel__contenedor{
    width: 100%;
    max-width: 280px;
    margin: auto;    
    overflow: hidden;
    box-shadow: 0 0 0 10px #ffffff, 0 15 px 50px;
    position: relative;

}
/* .carousel__contenedor{
    position: relative;
    width: 40%;
    margin: 0 auto;

} */
.carousel__anterior,    
.carousel__siguiente{
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    border: none;
    top: calc(50% - 3.5rem);
    cursor: pointer;
    line-height: 3rem;
    text-align: center;
    background: none;
    color: #FFF;
    opacity: 20%;
}
.carousel__anterior{
    left: 3rem;
}
.carousel__siguiente{
    right: 3rem;
}
.carousel__lista{
    overflow: hidden;
}
.carousel__elemento{
    text-align: center;
    color: #e7e2f1;
}
.carousel__elemento img{
    width: 30%;
    height: auto;
}






/* Inicio Servicios Carousel */
.seccion-carouseles{
    width: 90%;
	max-width: 1600px;
	margin: auto;
	padding: 4rem 0;
    display: flex;
    gap:20px;
    border: 1px solid black;
    /* border-radius: 10px; */
	background-size: cover;
	background-position: center center;
}
.servicios-carousel{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 800px){
    .seccion-carouseles{
        width: 90%;
        max-width: 1600px;
        margin: auto;
        padding: 40px 0;
        display: flex;
        gap:20px;
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
    }
}
.contenedor-office {
	width: 100%;
    border-radius: 10%;
}
.card {
	border-radius: 10px;
	min-height: 250px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
}
.card .textos {
	height: 90%;	
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    gap: 10px;
}
.contenedor-texto{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    }
    .logoimagen{      
        width: 300px;
        height: 200px;
        float: right;
        margin-left: 15px;
    }

/* Fin Servicios */

